@using Aliencube.HtmlHelper.Extended
@{
    ViewBag.Title = "Index";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <ul>
        <li>@Html.Link("Link Text", "htp://google.com", new { title = "Link Text" })</li>
        <li>@Html.Image("https://i2.wp.com/farm8.staticflickr.com/7230/14074766243_8c5398c0ec_b.jpg?resize=450%2C300", new { alt = "Flickr Image" })</li>
        <li>@Html.ImageActionLink("http://i0.wp.com/farm8.staticflickr.com/7687/16549846194_9c6d94e8a3_b.jpg?resize=450%2C300", "Another", new { title = "Flickr Image" }, new { width = "150" })</li>
    </ul>
</div>